<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/imagenes/logo_pestaña.PNG" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&family=Lato:wght@100;300;400;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Principal</title>
    <link rel="stylesheet" href="styles.css">
</head>
<Style>
  
    
</Style>
<body>
    <div class="background-container"></div>

    <nav class="navbar">
        <label class="logo" for="logo"></label>
        <ul class="menu-horizontal">


       <li class="menu-item">
                <a href="/menuGerencia" class="active">
                    <i class="fas fa-briefcase"></i>
                    <span>Gerencia</span>
                </a>
                <ul class="menu-vertical">
                    <li><a href="/menuGerencia">Gerencia</a></li>
                </ul>
            </li>
         

            <li class="menu-item">
                <a href="/operaciones" class="active">
                    <i class="fas fa-user"></i>
                    <span>Operaciones</span>
                </a>
                <ul class="menu-vertical">
                    <li><a href="/operaciones">Operaciones</a></li>
                </ul>
            </li>



       <li class="menu-item">
                <a href="/menuContablidad" class="active">
                    <i class="fas fa-calculator"></i>
                    <span>CONTABILIDAD Y FINANZAD</span>
                </a>
                <ul class="menu-vertical">
                    <li><a href="/operaciones">Operaciones</a></li>
                </ul>
            </li>




     




           




            <li class="menu-item">
                <a href="/nuevo_tikect_soporte" class="active">
                    <i class="fas fa-headset"></i>
                    <span>Soporte Técnico</span>
                </a>
                <ul class="menu-vertical">
                    <li><a href="/nuevo_tikect_soporte">Enviar Ticket</a></li>
                    <li><a href="/revisar_tickets">Ver Tickets Pendientes</a></li>
                </ul>
            </li>

        </ul>

    </nav>

   
 

    <div class="anuncios">
        REUNION OPERATIVA 09/07/2024 HORA INICIO 10:00 
    </div>


</body>

</html>